<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" 
  metadata-complete="true" version="3.1">
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>sanguineerp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/sanguineerp-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/resources/log4j-myapp.properties</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey1</param-name>
    <param-value>myWebapp-instance-root</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>sanguineerp</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>100</session-timeout>
  </session-config>
  
 <!--  
   Prior to Servlet 3.0 define either an error-code or an exception-type but not both
 <error-page>
  Define error page to react on Java exception
  <exception-type>java.lang.Throwable</exception-type>
  The location of the resource to display in response to the error will point to the Spring MVC handler method
  <location>/frmError.jsp</location>
 </error-page>
  
 <error-page>
  <error-code>404</error-code>
  <location>/frmError.jsp</location>
 </error-page> -->
   
 <!-- With Servlet 3.0 and above general error page is possible -->
 <!-- <error-page>
  <location>/frmError.jsp</location>
 </error-page>
  -->
 <!-- 
  <error-page>
    <location>/errors</location>
</error-page> -->
</web-app>